/* latin */
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/monoton/v10/5h1aiZUrOngCibe4TkHLQg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/khand/v9/TwMN-IINQlQQ0bL5cGEwbQc.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/khand/v9/TwMN-IINQlQQ0bKNdmEwbQc.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body{
      margin: 0;

      font-family: 'Khand', sans-serif;
      font-weight: normal;
      font-style: normal;    
  }

  .header{
    background-image: url('img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: min(1920px, 1080px);

    
  }

  .menu{
    display: flex;
    width: 1400px;
  }

  .header_main{
    
    flex-basis: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px 0 150px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    
  }

  .header nav ul li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;

    padding: 11px 0 15px;
    
    text-align: center;

    
}

  .header nav a{
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    font-size: 35px;
    color: white;
  }
  .header nav a:hover{
    color:wheat;
    transition: .5s;
  }
  


  .header__about_company{
    flex-basis: 100%;
    
    margin: 0 auto;  
  }

  .title__about_company{
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 150px;
    color: whitesmoke;
    text-align: center;
    margin-top: 40px;
  }

  .paragraph__about_company{
    font-family: 'Khand';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    color: white;
    border: 3px solid white;
     
    text-align: center;
    margin-top: 50px;
  }

  .header_action{
   text-align: center;
    margin-top: 70px;
  }

  .header_action a{
    font-family: 'Khand';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color:white;
    border: 3px solid white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
  }
  .header_action a:hover{
    color:wheat;
    background-color: white;
    transition: .5s;
  }
  
  .previewGallery{
    max-width: 1400px;
    margin: auto;
    color: #d08b7c;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
  .first_second{
    display: flex;
    justify-content: space-between;
  }
  .third_fourth{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

  .img__link:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }

.becomeMember{
  margin-top: 30px;
  background-image: url('img/hiring.jpg');
  background-repeat: no-repeat;
  
 
  
}
.part{
  margin-top: 50px;
  margin:auto;
  text-align: center;
  max-width: 1400px;
  font-size: 60px;
  color: whitesmoke;
  font-weight: bold;
}
.part a{
  text-decoration: none;
  color:white;
}
.part a:hover{
  color:wheat;
}

.aboutWork{
  margin-top: 50px;
  margin:auto;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 25px;
  color: whitesmoke;
  font-weight: bold;
}

.contacts{
  margin-top: 25px;
  margin-bottom: 25px;
}

.our_contacts{
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
  font-weight: bold;
  font-size: 50px;
}
.our_contacts a{
  text-decoration: none;
  color: #d08b7c;
}

.our_contacts a:hover{
  color:wheat;
}

.fb{
  display: flex;
}

.inst{
  display: flex;
}

.img_fb img{
  padding: 10px;
  vertical-align: middle;
}

.paragraph{
  max-width: 1400px;
  margin: auto;
  text-align: center;
  font-size: 50px;
  color:#d08b7c;
  font-weight: bold;
}